// var 變數
$font-size: 125px;
$content: "hisssw";
$font-family-sans-serif: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;

//斷點
$large : 1200px;
$medium_min : 1199px;
$medium_max : 768px;
$small : 767px;
