@import "var";
@import "plugin";
@import "desktop";
@import "medium";
@import "moblie";
body {
    background-color: red;
}

.box {
    font-size: $font-size;
    width: 1400px;
    content: $content;
    font-family: $font-family-sans-serif;
}

.box2 {
    font-size: $font-size;
}

a {
    &:hover {
        color: #fff;
    }
    &:active {
        color: #f00
    }
    &::before {
        color: #f00
    }
}

//nesting
.wrapper {
    background-color: red;
    .sidebar {
        width: 10px;
        .testarea {
            background-color: #f00;
        }
        .box {
            width: 20px;
            font-size: $font-size;
            span {
                display: block;
                margin-top: 600px;
                color: rgb(15, 228, 43);
            }
        }
    }
}

//沒有帶值
@mixin margin-auto() {
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 1000px;
    @include margin-auto();
}

.box2 {
    width: 500px;
    @include margin-auto-color(#f00);
}

.boxleft-20 {
    @include margins(10px, 20px, 30px);
}

.boxleft-30 {
    @include margins(10px, 30px, 40px);
}

/* radius */

.btn {
    @include border_radius (10px);
}

.btn_wide {
    @include border_radius (8px);
    margin: 10px;
}

.wide {
    width: 10px;
}

#box {
    @include border_radius_n(btn_w, 10px);
}

@include border_radius_n(btn_blue, 30px, blue);
@include border_radius_n(btn_green, 20px, green);
.boxs {
    width: 100px;
    height: 200px;
}

@mixin boxs($num) {
    width: $num;
    height: $num * 2;
}

.box-red {
    background-color: red;
    @include boxs(100px); // @extend .boxs;
}

.box-green {
    background-color: green;
    @extend .boxs; // @include boxs();
}

.box-blue {
    background-color: blue; // @include boxs();
    @extend .boxs; // @extend div: hover;
    @extend a;
    @extend #obj;
}

div:hover {
    box-sizing: border-box;
}

a {
    color: #f20;
}

#obj {
    text-align: center;
}

// _ - 都可以
@mixin btn-width($num) {
    width: $num;
}

.width {
    @include btn-width(100px);
}

//佔位符號
%botton {
    width: 400px;
    background-color: #f40;
}

.box-test {
    @extend %botton;
}

.box-02 {
    @extend %botton;
}

// 運算
.box6 {
    width: 100 + 10em;
    height: 100px - 10px;
    margin: (10px - 5) * 10;
    padding: (40 / 2) + px; // font : 10px / 20px ;
}

.box7 {
    //無條件捨去  
    font-size: floor( 3.4px);
    width: round(4.5px);
    height: ceil(4.7px);
}

$font-base-size: 14px;
body {
    font-size: $font-base-size;
}

h1 {
    font-size: ceil($font-base-size * 4.4);
}

h2 {
    font-size: ceil($font-base-size * 3.4);
}

h3 {
    font-size: ceil($font-base-size * 2.4);
}

h4 {
    font-size: ceil($font-base-size * 1.4);
}

h5 {
    font-size: ceil($font-base-size * 1);
}

@mixin box-widths($num) {
    @for $i from 1 through $num {
        .box-#{$i} {
            width: $i * 1px; // height: $i * 2px;
        }
    }
}

// @include box-widths(10);

// @include grid(12);
@mixin push($attr, $dir, $num) {
    @for $i from 1 through $num {
        .push-#{$attr}-#{$dir}-#{$i} {
            #{$attr}-#{$dir}: $i * 1px;
        }
    }
}

@include push( margin, top, 10);
@include push( padding, left, 10);
@mixin imgs($images) {
    @each $img in $images {
        .#{$img}-img {
            background-image: url('images/#{$img}.png');
            display: block;
        }
    }
}

@include imgs([a1,
a2,
a3,
logo,
animals]);
$tem: white;
//if
.box-color {
    @if $tem==blue {
        background-color: blue;
    }
    @else if $tem==yellow {
        background-color: yellow;
    }
    @else {
        background-color: green;
    }
}

// $small: 719px;
// $medium-max: 720px;
// $medium-min: 1365px;
// $large: 1366px;
// @mixin rwd ($breakpoint) {
//     @if $breakpoint=="small" {
//         @media all and (max-width: $small) {
//             @content;
//         }
//     }
//     @else if $breakpoint=="medium" {
//         @media all and(max-width: $medium-max) and (min-width: $medium-min) {
//             @content;
//         }
//     }
//     @else if $breakpoint=="desktop" {
//         @media all and (min-width: $large) {
//             @content;
//         }
//     }
// }

// @include rwd(desktop) {
//     .box {
//         width: 100px;
//     }
// }

// @include rwd(medium) {
//     .box {
//         width: 200px;
//     }
// }

// @include rwd(small) {
//     .box {
//         width: 100%;
//     }
// }

$i: 20;
@while $i>=6 {
    .box-#{$i} {
        margin: 10px + $i;
    }
    $i: $i - 2;
}

@mixin contents ($num) {
    .box-inner {
        margin: $num auto;
    }
    @content
}

.box-content {
    @include contents(10px) {
        &:hover {
            color: #f20;
        }
    }
    ;
};


